<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>926107170934-tun6ftu67u7tgu7abhiicdsrb2ooggqe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.926107170934-tun6ftu67u7tgu7abhiicdsrb2ooggqe</string>
	<key>API_KEY</key>
	<string>AIzaSyA_ZKlrDjaJoq4R2qZwFe3f1KjG7d1n2QE</string>
	<key>GCM_SENDER_ID</key>
	<string>926107170934</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instagramHomeCopy</string>
	<key>PROJECT_ID</key>
	<string>instagramhomecopy</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramhomecopy.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:926107170934:ios:75f5c5052a5e260ded8757</string>
</dict>
</plist>